@model ERP.Models.Street

@{
    ViewData["Title"] = "Create";
}

<h4>Create Street </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select Sector</label>
                <select id="secid" asp-items="@ViewBag.SectorsList" class="form-control" onchange="loadblock(this)">
                    <option value="">-- Select Sector --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Block_Id" class="control-label"></label>
                <select id="blockid" asp-for="Block_Id" asp-items="@ViewBag.BlocksList" class="form-control">
                </select>
                <span asp-validation-for="Block_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var a = 0;
        });
        function loadblock(obj) {
            var value = obj.value;

            $.post("/Street/GetBlocksBySector", { sectorId: value }, function (data) {
                debugger;
                PopulateDropDown("#blockid", data);
            });
        }

        function PopulateDropDown(dropDownId, list, selectedId) {
            $(dropDownId).empty();
            $(dropDownId).append("<option>--Please Block--</option>")
            $.each(list, function (index, row) {
                $(dropDownId).append("<option value='" + row.value + "'>" + row.text + "</option>")
            });
        }

    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
