@model IEnumerable<ERP.Models.InstallmentType>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6">
            <h3 class="text-primary">Installment Types </h3>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="InstallmentType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>&nbsp; Create InstallmentType
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Installment_Type)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>                         
                <td>@Html.DisplayFor(modelItem => item.Installment_Type)</td>
                <td>
                    <a asp-area="" asp-asp-controller="InstallmentType" asp-action="Edit" asp-route-id="@item.InstallmentTypeId" class="btn btn-info">Edit</a>
                    <a href="#" onclick="ConfirmDelete(@item.InstallmentTypeId)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

<script>
    function ConfirmDelete(InstallmentTypeid){
        if(confirm('Are You sure to delete this Plot Size')){
            window.location.href = '/InstallmentType/Delete/' + InstallmentTypeid
        }
    }
</script>