@model ERP.Models.Block

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Block</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="BlockId" class="control-label"></label>
                <input asp-for="BlockId" class="form-control" />
                <span asp-validation-for="BlockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockName" class="control-label"></label>
                <input asp-for="BlockName" class="form-control" />
                <span asp-validation-for="BlockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector_Id" class="control-label"></label>
                @*<input asp-for="Sector_Id" class="form-control" />*@
                <select asp-for="Sector_Id" asp-items="@ViewBag.SectorList" class="form-control">
                    <option value="">-- Select Sector --</option>
                </select>
                <span asp-validation-for="Sector_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
