@model LoginModel

@{
    ViewData["Ttile"] = "Login";
    Layout = "_Layout1";
}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card custom-card">
                <div class="card-header"><b>ERP System</b></div>
                <div class="card-body">
                    <form asp-action="Login">                        
                            <div class="form-group col-md-12 mb-3">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                            </div>
                            <div class="form-group pt-3 text-end">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@*<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f8f9fa;">
    <div style="background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">Login</h2>
        <form asp-action="Login">
            <div style="margin-bottom: 15px;">
                <label for="UserName">Username</label>
                <input type="text" id="UserName" name="UserName" required style="width: 100%; padding: 8px;">
            </div>
            <div style="margin-bottom: 20px;">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" required style="width: 100%; padding: 8px;">
            </div>
            <button type="submit" style="width: 100%; padding: 10px; background-color: #007bff; color: #ffffff; border: none;">Login</button>
        </form>
    </div>
</div>*@

    
