@model ERP.Models.Relation

@{
    ViewData["Title"] = "Create";
}

<h3>Create Relation</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="RelationName" class="control-label"></label>
                    <input asp-for="RelationName" class="form-control" />
                    <span asp-validation-for="RelationName" class="text-danger"></span>
                </div>
            </div>            
            <div class="form-group pt-md-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
