@model ERP.Models.Bank

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Bank</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4" hidden>
                    <label asp-for="BankId" class="control-label"></label>
                    <input asp-for="BankId" class="form-control" />
                    <span asp-validation-for="BankId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
            </div>
          
            <div class="form-group pt-md-3">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
