@model ERP.Models.Sector

@{
    ViewData["Title"] = "Create";
}

<h3>Create Sector</h3>
<hr />

<div class="row">
    <div class="col-md-12">
      @*   @if (TempData.ContainsKey("message"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                @TempData["message"]
                <button type="button" class="close text-end" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               
            </div>
        } *@
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group col-md-4 ">
                <label asp-for="SectorName" class="control-label"></label>
                <input asp-for="SectorName" class="form-control" />
                <span asp-validation-for="SectorName" class="text-danger"></span>
            </div>
            <div class="form-group pt-md-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
